.image-container img{
    width: 50%;
    height: auto;
}

.image-container img:hover{
    filter: brightness(1.5);
}

.image-container{
    text-align: center;
}

.program-title{
    margin: auto;
    background-color: #CCFF67;
    color: #ffffff;
    font-size: 20px;
    font: bold;
    width: 20%;
    border-top-right-radius: 20px;
    box-shadow: 2px 2px #8BAD47;
}