.sidebar{
    width:10%;
    position: fixed;
    left: 0;
    height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    font-size: 1rem;
}

.sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    padding: 0.6rem 0;
    cursor: pointer;
    color: #fff;
    padding: 10px;
}

.dropdown ul li a{
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    
}
.dropdown{
    background: #6d7fcc;

}

.dropdown a{
    color: #fff !important;
}
a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

